[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
